#grid {
    display : grid;
    grid-template-columns: repeat(10, 50px);
    grid-template-rows: repeat(10, 50px);
    gap : 10px;
}
.grid-item {
    background-color: black;
    border : 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.player {
    background-color: lightblue;
}

.wall {
    background-color: brown;
}

.enemy {
    background-color: rgb(141, 11, 216);
}

.invisible {
    animation: blinker 0.3s infinite alternate;
}

@keyframes blinker {
    from {
        opacity: 1;
    }
    to {
        opacity: 0.3;
    }
}